<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Update Article</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-
MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-
5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-5">
		<h3 align="center">Update seance</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-8">
				
					<form th:action="@{/seance/update/{id}(id=${seances.idS})}"th:object="${seances}" method="post">
				  	
					
						<div class="row">
							<div class="form-group col-md-6">

								<label for="label" class="col-form-label">Date : </label>
								 <input type="date" th:field="*{dateS}" class="form-control"id="label" placeholder="Label" /> 			</div>


							<div class="form-group col-md-8">

								<label for="enseignant" class="col-form-label">Select enseignant</label>
								 <select name="enseignantId" class="form-control">
									<option th:each="enseignant: ${enseignants}" th:value="${enseignant.idE}" th:text="${enseignant.nomE}"/> 
										
								</select>
								
								<label for="groupe" class="col-form-label">Select groupe</label>
								 <select name="groupeId" class="form-control">
									<option th:each="groupe: ${groupes}" th:value="${groupe.idG}" th:text="${groupe.nomG}"/> 
										
								</select>
								
								<label for="cours" class="col-form-label">Select cours</label>
								 <select name="coursId" class="form-control">
									<option th:each="cour: ${cours}" th:value="${cour.idC}" th:text="${cour.libelleC}"/> 
										
								</select>
								
								<label for="salle" class="col-form-label">Select salle</label>
								 <select name="salleId" class="form-control">
									<option th:each="salle: ${salles}" th:value="${salle.idS}" th:text="${salle.nomS}"/> 
										
								</select>
							</div>

							<div class="form-group col-md-8">

								<input type="submit" class="btn btn-primary"
									value="Update Article">
							</div>
						</div>
						x
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>